<div class="modal-overlay">
    <form class="modal" [formGroup]="formProduct">
      <h2>Edite el producto</h2>
      <label>Nombre:</label>
      <input type="text" formControlName="name"/>
      <label>Descripción:</label>
      <textarea formControlName="description"></textarea>
      <label>Precio:</label>
      <input type="number" formControlName="price"/>
      <label>Stock:</label>
      <input type="number" formControlName="stock"/>
      <div class="modal-actions">
        <button (click)="closeEdit.emit()">Cancelar</button>
        <button (click)="editProduct()">Editar</button>
      </div>
    </form>
  </div>